@charset "UTF-8";
@import '../css/reset.css';
/* 반응형 */
h2 {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: #212529;
}

strong {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: #212529;
}

h2 + p,
strong + p {
  margin-top: 15px;
}

body header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
body header .header-wrap {
  max-width: 1320px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  body header .header-wrap {
    margin: 40px auto;
  }
}
body header .header-wrap h1 {
  line-height: 0;
}
body header .header-wrap h1 a p {
  width: 187px;
  height: 32px;
  background: url(../img/Link.png) 0 0/cover no-repeat;
}
body header .header-wrap .sub-menu {
  display: flex;
  justify-content: flex-end;
  gap: 10%;
}
@media (max-width: 767px) {
  body header .header-wrap .sub-menu {
    display: none;
  }
}
body header .header-wrap .sub-menu a p {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  color: #212529;
  color: white;
  font-weight: normal;
}
body header .header-wrap .trigger-menu {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: transparent;
  position: relative;
}
@media (max-width: 767px) {
  body header .header-wrap .trigger-menu {
    display: block;
  }
  body header .header-wrap .trigger-menu:hover span:nth-child(1) {
    background-color: #FFC800;
    transform: translateY(0) rotate(45deg);
  }
  body header .header-wrap .trigger-menu:hover span:nth-child(2) {
    display: none;
  }
  body header .header-wrap .trigger-menu:hover span:nth-child(3) {
    background-color: #FFC800;
    transform: translateY(0) rotate(-45deg);
  }
}
body header .header-wrap .trigger-menu span {
  width: 60%;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 20%;
  transition: 0.5s;
}
body header .header-wrap .trigger-menu span:nth-child(1) {
  transform: translateY(-8px);
}
body header .header-wrap .trigger-menu span:nth-child(2) {
  display: block;
}
body header .header-wrap .trigger-menu span:nth-child(3) {
  transform: translateY(8px);
}
body header .header-wrap .active {
  display: block;
}
body main > article {
  overflow: hidden;
}
body .spot {
  width: 100%;
  padding: 272px 0 200px 0;
  background: url(../img/Header.png) 0 0/cover no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
body .spot p {
  font-size: 36px;
  text-align: center;
}
body .spot h2 {
  margin: 32px 0 64px 0;
  transition: 2s;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 72px;
  color: #212529;
  color: #fff;
}
body .spot h2:hover {
  color: white;
  background-image: linear-gradient(-225deg, #8F0CF7 0%, #FF3EA2 20%, #ffc800 66%, #33F70C 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  animation: textclip 1s linear infinite;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
body a span {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  color: #212529;
  display: inline-block;
  border-radius: 6px;
  background: #FFC800;
  padding: 20px 40px;
  box-sizing: border-box;
  color: #fff;
  transition: 0.5s;
}
body a span:hover {
  color: white;
  background-image: linear-gradient(-225deg, #8F0CF7 0%, #FF3EA2 20%, #ffc800 66%, #33F70C 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  animation: textclip 1s linear infinite;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.main-services {
  max-width: 1320px;
  margin: 100px auto;
}
.main-services h2 {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: #212529;
}
.main-services p {
  text-align: center;
}
.main-services .services-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .main-services .services-container {
    flex-direction: column;
    gap: 20px;
  }
}
.main-services .services-container figure {
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .main-services .services-container figure {
    flex-direction: row;
    gap: 20px;
  }
}
.main-services .services-container figure:nth-child(1) > div:hover {
  background-color: #8F0CF7;
}
.main-services .services-container figure:nth-child(2) > div:hover {
  background-color: #FF3EA2;
}
.main-services .services-container figure:nth-child(3) > div:hover {
  background-color: #33F70C;
}
.main-services .services-container figure div {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  background-color: #ffc800;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 0.5s;
}
.main-services .services-container figure div img {
  padding: 32px;
}
.main-services .services-container figure div img :nth-child(1) > p {
  background: no-repeat center "../img/vector1.png";
}
.main-services .services-container figure div img :nth-child(2) > p {
  background: no-repeat center "../img/vector2.png";
}
.main-services .services-container figure div img :nth-child(3) > p {
  background: no-repeat center "../img/vector3.png";
}
.main-services .services-container figure figcaption {
  margin-top: 16px;
}
@media (max-width: 767px) {
  .main-services .services-container figure figcaption {
    margin: 0;
    text-align: left;
  }
}
.main-services .services-container figure figcaption p {
  word-break: break-all;
}
@media (max-width: 767px) {
  .main-services .services-container figure figcaption p {
    margin: 0;
    text-align: left;
  }
}

.main-portfolio {
  max-width: 1320px;
  margin: 100px auto;
}
.main-portfolio .portfolio-container {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-portfolio .portfolio-container figure {
  width: 33.33%;
  padding: 12px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .main-portfolio .portfolio-container figure {
    width: 50%;
  }
}
.main-portfolio .portfolio-container figure div {
  overflow: hidden;
}
.main-portfolio .portfolio-container figure div:hover > img {
  transform: scale(1.2);
}
.main-portfolio .portfolio-container figure div img {
  transition: 0.5s;
  width: 100%;
}
.main-portfolio figcaption {
  padding: 24px 0;
}
.main-portfolio figcaption p {
  margin: 0;
  line-height: 1.5;
}

.main-contact {
  padding: 100px 0;
  background: no-repeat center url("../img/Section.png");
  background-size: cover;
}
.main-contact h2 {
  color: #fff;
}
.main-contact form {
  max-width: 1320px;
  margin: 46px auto 0 auto;
}
.main-contact form .form-container {
  display: flex;
}
@media (max-width: 767px) {
  .main-contact form .form-container {
    flex-direction: column;
  }
}
.main-contact form .form-container .form-left {
  padding: 12px;
  width: 50%;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
@media (max-width: 767px) {
  .main-contact form .form-container .form-left {
    width: 100%;
  }
}
.main-contact form .form-container .form-left input {
  height: 64px;
  border: 1px solid #CED4DA;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
}
.main-contact form .form-container .form-left input::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  color: #212529;
  text-align: left;
  color: #CED4DA;
}
.main-contact form .form-container .form-left input::placeholder {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  color: #212529;
  text-align: left;
  color: #CED4DA;
}
.main-contact form .form-container .form-right {
  width: 50%;
  padding: 12px;
}
.main-contact form .form-container .form-right input {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #CED4DA;
}
@media (max-width: 767px) {
  .main-contact form .form-container .form-right {
    width: 100%;
    height: 200px;
  }
}
.main-contact form #submit {
  margin-top: 48px;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  color: #212529;
  border-radius: 6px;
  background: #FFC800;
  padding: 20px 40px;
  box-sizing: border-box;
  color: #fff;
  transition: 0.5s;
}
.main-contact form #submit:hover {
  background-color: #fff;
  color: #FFC800;
}
@media (max-width: 767px) {
  .main-contact form #submit {
    width: 100%;
    margin: 0 12px;
  }
}

footer {
  width: 100%;
}
footer .footer {
  max-width: 1280px;
  margin: 80px auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  font-size: 14.4px;
  color: #212529;
  font-weight: normal;
}
footer .footer p > a {
  color: #212529;
}
footer .footer .icons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
footer .footer .icons a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
footer .footer .icons a:nth-child(1) {
  background: no-repeat center url("../img/Img.svg") #212529;
}
footer .footer .icons a:nth-child(2) {
  background: no-repeat center url("../img/Img-1.svg") #212529;
}
footer .footer .icons a:nth-child(3) {
  background: no-repeat center url("../img/Img-2.svg") #212529;
}